<!DOCTYPE html>
<html>
	<head>
		<title>Scribble Short Fiction Reader -- Prototype</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.9.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://malsup.github.com/jquery.form.js"></script>
		<script src="/js/svr.app.js"></script>
		<script type='text/javascript'>				
		$(document).ready(function() {		
			// bind 'myForm' and provide a simple callback function 
          	var c = new SVRLoginController();	
		});
		</script>
	</head>
	<body class='reader'>
		<div id='page-wrapper'>
			<header>
			</header>
			
			<div id='content-wrapper'>
				<form id='login-form'>
					<h3>Login</h3>
					<div id='login-error'></div>
					<div class='row-wrapper'>
						<label>Username</label>
						<input name='username' id='username-input' type='text'></input>
					</div>
					<div class='row-wrapper'>
						<label>Password</label>
						<input name='password' id='password-input' type='password'></input>
					</div>
					<div class='row-wrapper'>
						<input class='login-button' name='submit' id='submit-input' type='button' value='Login'/>
					</div>
				</form>
			</div>
		</div>	
		<div id='site-logo'>
			Scribble Vault
		</div>
	</body>
</html>